# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

ui/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

# C extensions
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment files
.env
.venv/
env/
venv/
ENV/
*.env

# Virtual environment packages
.Python

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# PDFs and reports
*.pdf
output/

# Data logs and serial output
*.log

# System files
Thumbs.db
desktop.ini

